CompileFlags:
  CompilationDatabase: c:\Users\29951\Documents\Projects\CAN_DISDLAY_NOVA\CAN_DISPLAY\bootloader\MDK-ARM\out\bootloader\bootloader

---
If:
  PathMatch: .*\.(c|C|h)$
CompileFlags:
  Add:
    - -include
    - c:\Users\29951\Documents\Projects\CAN_DISDLAY_NOVA\CAN_DISPLAY\bootloader\MDK-ARM\out\bootloader\bootloader\compile_macros_c.h
