CompileFlags:
  CompilationDatabase: c:\Users\29951\Documents\Projects\CAN_DISDLAY_NOVA\CAN_DISPLAY\MDK-ARM\out\CAN_DISPLAY_NOVA\CAN_DISPLAY_NOVA

---
If:
  PathMatch: .*\.(c|C|h)$
CompileFlags:
  Add:
    - -include
    - c:\Users\29951\Documents\Projects\CAN_DISDLAY_NOVA\CAN_DISPLAY\MDK-ARM\out\CAN_DISPLAY_NOVA\CAN_DISPLAY_NOVA\compile_macros_c.h
